<div>
  <div class="grid grid-nogutter surface-section text-800">
    <div
      class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
    >
      <section>
        <span class="block text-6xl font-bold mb-1">Sage Page</span>
        <div class="text-6xl text-primary font-bold mb-3">
          Conversational Graphs
        </div>
        <p class="mt-0 mb-4 text-700 line-height-3">
          Unlike traditional chatbots, build interactive conversation trees
          where every response can branch into multiple sub-queries. Navigate
          freely through your conversation graph with ease and unlock a new
          level of control.
        </p>

        <button
          pButton
          pRipple
          label="Log In"
          type="button"
          class="mr-3 p-button-raised"
          (click)="onLoginClick()"
        ></button>
        <button
          pButton
          pRipple
          label="Register"
          type="button"
          class="p-button-outlined"
          (click)="onRegisterClick()"
        ></button>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
      <img
        src="assets/images/blocks/logos/sage-page-logo.webp"
        alt="Image"
        class="md:ml-auto block md:h-full"
        style="
          clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
          width: 70%;
          height: auto;
        "
      />
    </div>
  </div>

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 overflow-hidden">
    <div class="font-bold text-900 text-3xl mb-3 text-center">
      Explore The Features
    </div>
    <div class="text-700 text-center mb-5 line-height-3">
      We’re transforming how you engage with knowledge and AI. Join us as we
      build a tool that pushes the boundaries of what’s possible.
    </div>
    <div class="flex lg:justify-content-center mb-5">
      <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
        <img
          src="assets/images/feature-timeline-2.png"
          alt="Image"
          class="w-full mr-8 border border-primary border-3"
        />
      </div>
      <div class="flex flex-column align-items-center w-2rem">
        <span
          class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle"
          style="min-width: 2.5rem; min-height: 2.5rem"
          >1</span
        >
        <div
          class="h-full bg-blue-500"
          style="width: 2px; min-height: 4rem"
        ></div>
      </div>
      <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
        <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
          <div class="text-900 text-xl mb-2 font-medium">
            Interactive AI Chat
          </div>
          <span class="block text-700 line-height-3 mb-3">
            Chat with the latest AI from OpenAI, powered by GPT-4. Engage in
            dynamic conversations, and approve messages before they are added to
            your personalized conversation graph.
          </span>
          <div class="pt-3 border-top-1 border-300">
            <div class="mb-2 line-height-3">
              <span class="text-900 font-medium"
                >Real-time, context-aware responses</span
              >
              that adapt to your conversational flow.
            </div>
          </div>
        </div>

        <img
          src="assets/images/feature-timeline-2.png"
          alt="Image"
          class="w-full mt-3 block lg:hidden border border-primary"
        />
      </div>
    </div>
    <div class="flex justify-content-center mb-5">
      <div
        class="py-3 pl-5 pr-3 lg:pr-8 lg:pl-3 lg:w-30rem flex-order-1 lg:flex-order-0"
      >
        <div class="text-900 text-xl mb-2 font-medium">
          Conversational Graph
        </div>
        <span class="block text-700 line-height-3 mb-3"
          >No more linear conversations. Sage Page's conversational graph lets
          you jump between any point in your chat, with nodes supporting
          multiple subqueries, making it easy to reference key messages
          anytime.</span
        >
        <div class="pt-3 border-top-1 border-300">
          <div class="mb-2 line-height-3">
            <span class="text-900 font-medium">Flexible Navigation</span> allows
            you to explore and interact with any part of the conversation
            effortlessly.
          </div>
          <div class="line-height-3">
            <span class="text-900 font-medium">Reuse Important Messages</span>
            as many times as you need without losing context, creating a more
            dynamic experience.
          </div>
        </div>

        <img
          src="assets/images/feature-timeline-2.png"
          alt="Image"
          class="w-full mt-3 block lg:hidden border border-primary border-3"
        />
      </div>
      <div
        class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1"
      >
        <span
          class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle"
          style="min-width: 2.5rem; min-height: 2.5rem"
          >2</span
        >
        <div
          class="h-full bg-yellow-500"
          style="width: 2px; min-height: 4rem"
        ></div>
      </div>
      <div class="py-3 pl-8 pr-3 w-30rem hidden lg:block flex-order-2">
        <img
          src="assets/images/feature-timeline-3.png"
          alt="Image"
          class="w-full mr-8 border border-primary border-3"
        />
      </div>
    </div>
    <div class="flex justify-content-center">
      <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
        <img
          src="assets/images/feature-timeline-1.png"
          alt="Image"
          class="w-full mr-8 border border-primary border-3"
        />
      </div>
      <div class="flex flex-column align-items-center w-2rem">
        <span
          class="bg-cyan-500 text-0 flex align-items-center justify-content-center border-circle"
          style="min-width: 2.5rem; min-height: 2.5rem"
          >3</span
        >
        <div
          class="h-full bg-cyan-500"
          style="width: 2px; min-height: 4rem"
        ></div>
      </div>
      <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
        <div class="text-900 text-xl mb-2 font-medium">Conversation List</div>
        <span class="block text-700 line-height-3 mb-3">
          Keep track of all your conversations in one place. Sage Page’s
          conversation list allows you to easily jump between active chats and
          manage them by adding or removing conversations as needed.
        </span>
        <div class="pt-3 border-top-1 border-300">
          <div class="mb-2 line-height-3">
            <span class="text-900 font-medium">Effortless Navigation</span> lets
            you quickly switch between different conversations with ease.
          </div>
          <div class="line-height-3">
            <span class="text-900 font-medium">Manage Conversations</span>
            by adding new ones or removing old ones, giving you full control
            over your chat history.
          </div>
        </div>

        <img
          src="assets/images/blocks/feature/feature-timeline-3.png"
          alt="Image"
          class="w-full mt-3 block lg:hidden"
        />
      </div>
    </div>
  </div>

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div
      class="text-center bg-no-repeat bg-cover border-round px-6 py-8"
      style="
        background: url(&quot;assets/images/blocks/feature/overlapping-cards.jpg&quot;);
      "
    >
      <div class="text-white text-6xl font-semibold mb-3">
        Explore Conversations Like Never Before
      </div>
      <p class="text-gray-300 text-xl mt-0 mb-8 line-height-3">
        With every release, we’re transforming how you engage with knowledge and
        AI. Join us as we build a tool that pushes the boundaries of what’s
        possible.
      </p>
    </div>
    <div class="flex flex-column lg:flex-row px-4 lg:px-6 gap-5 -mt-8">
      <div class="flex flex-column lg:w-4">
        <div
          class="flex align-items-center border-round-top bg-primary text-primary h-5rem px-4"
        >
          <i class="pi pi-sliders-v mr-2 text-2xl"></i>
          <span class="font-semibold text-2xl">Efficiency & Control</span>
        </div>
        <div
          class="surface-card shadow-2 p-4 flex flex-column justify-content-between flex-1 border-round-bottom"
        >
          <p class="mt-0 mb-6 line-height-3 text-xl text-00">
            Gain control over your conversations with branching paths that allow
            multiple sub-queries, making your dialogues richer and more
            insightful.
          </p>
        </div>
      </div>
      <div class="flex flex-column lg:w-4">
        <div
          class="flex align-items-center border-round-top bg-primary text-primary h-5rem px-4"
        >
          <i class="pi pi-moon mr-2 text-2xl"></i>
          <span class="font-semibold text-2xl">Innovation</span>
        </div>
        <div
          class="surface-card shadow-2 p-4 flex flex-column justify-content-between flex-1 border-round-bottom"
        >
          <p class="mt-0 mb-6 line-height-3 text-xl text-00">
            Reimagine your chatbot experience—move beyond linear chat flows to
            explore complex, branching conversations.
          </p>
        </div>
      </div>
      <div class="flex flex-column lg:w-4">
        <div
          class="flex align-items-center border-round-top bg-primary text-primary h-5rem px-4"
        >
          <i class="pi pi-sun mr-2 text-2xl"></i>
          <span class="font-semibold text-2xl">Immediate Utility</span>
        </div>
        <div
          class="surface-card shadow-2 p-4 flex flex-column justify-content-between flex-1 border-round-bottom"
        >
          <p class="mt-0 mb-6 line-height-3 text-xl text-00">
            Whether you’re a researcher, writer, or support specialist, unlock
            the power to navigate and organize conversations in ways never
            before possible.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="surface-section px-4 py-6 md:px-6">
    <div class="text-2xl text-900 font-bold mb-2 text-center">
      How it works!
    </div>
    <div class="text-700 line-height-3 mb-6 text-center">
      Pop open the explainers for each section of the application and learn what
      it's used for.
    </div>
    <p-accordion styleClass="mb-6" [activeIndex]="0">
      <p-accordionTab header="Left Sidebar: Conversation Management">
        <div class="line-height-3">
          <b>Purpose:</b> The left sidebar allows users to manage their active
          and past conversations. Users can view a list of available
          conversations, delete old ones, or start new ones. It provides quick
          access to conversation history and control over what conversations are
          displayed.<br /><br />
          <b>Key Features:</b>
          <ul>
            <li>Add New Conversation: Start a new conversation.</li>
            <li>
              Delete Current Conversation: Remove an active conversation from
              the list.
            </li>
            <li>
              Conversation List: View a list of all available conversations,
              with the current one highlighted.
            </li>
          </ul>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Center Panel: Conversational Graph Navigation">
        <div class="line-height-3">
          <b>Purpose:</b> The center panel is a visual representation of the
          conversation’s branching structure, allowing users to explore
          different paths. It shows all branches and nodes of the conversation,
          which can be clicked to navigate through various parts of the
          discussion. This structure lets users easily jump to any topic or
          point in the conversation.<br /><br />
          <b>Key Features:</b>
          <ul>
            <li>
              Interactive Graph: View and interact with the conversation flow.
            </li>
            <li>
              Branch Navigation: Click on any branch or node to navigate to that
              part of the conversation.
            </li>
            <li>
              Dynamic Exploration: Easily switch between different sections of
              the conversation.
            </li>
          </ul>
        </div>
      </p-accordionTab>
      <p-accordionTab
        header="Right Sidebar: Active Conversation and Chat Interface"
      >
        <div class="line-height-3">
          <b>Purpose:</b>This panel displays the active, selected branch of the
          conversation, where users interact with the chatbot (e.g., ChatGPT).
          Users can add to the conversation, ask follow-up questions, and
          receive responses. The content of this panel updates dynamically when
          the user clicks on different parts of the graph in the middle
          panel.<br /><br />
          <b>Key Features:</b>
          <ul>
            <li>
              Real-Time Chat: Engage with the chatbot by sending queries and
              receiving responses.
            </li>
            <li>
              Dynamic Content: The conversation displayed updates based on the
              selected branch from the center panel.
            </li>
            <li>
              Add to Conversation: Input new queries or follow-ups to continue
              the conversation.
            </li>
          </ul>
        </div>
      </p-accordionTab>
    </p-accordion>
    <div
      class="border-1 border-round surface-border p-5 surface-50 flex flex-column align-items-center"
    >
      <p-avatarGroup styleClass="text-center">
        <p-avatar
          image="assets/images/blocks/avatars/circle/avatar-f-1.png"
          shape="circle"
          size="large"
        ></p-avatar>
        <p-avatar
          image="assets/images/blocks/avatars/circle/avatar-f-2.png"
          shape="circle"
          size="large"
        ></p-avatar>
        <p-avatar
          image="assets/images/blocks/avatars/circle/avatar-m-1.png"
          shape="circle"
          size="large"
        ></p-avatar>
        <p-avatar
          image="assets/images/blocks/avatars/circle/avatar-m-2.png"
          shape="circle"
          size="large"
        ></p-avatar>
        <p-avatar
          image="assets/images/blocks/avatars/circle/avatar-f-3.png"
          shape="circle"
          size="large"
        ></p-avatar>
      </p-avatarGroup>
      <div class="font-medium text-xl mt-5 mb-3">Still Have Questions?</div>
      <p class="text-700 line-height-3 mt-0 mb-5">
        Feel free to contact us. Our team is here to help you with any
        questions.
      </p>
      <button
        pButton
        pRipple
        label="Contact Us"
        icon="pi pi-send"
        class="p-button-help"
        (click)="contact()"
      ></button>
    </div>
  </div>
</div>
