<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened [disableClose]="true">
    <div style="display: flex; align-items: center; margin-bottom: 20px">
      <img
        src="assets/images/blocks/logos/sage-page-logo.webp"
        alt="Image"
        style="width: 15%; height: auto; margin-right: 10px"
      />
      <h1>Sage Page App</h1>
    </div>
    <div class="button-container">
      <button
        (click)="addNewConversation()"
        class="p-element p-ripple w p-button p-component"
      >
        <span class="p-button-label">Add New Conversation</span>
      </button>
      <button
        (click)="deleteCurrentConversation()"
        class="p-element p-ripple w p-button p-component"
      >
        <span class="p-button-label">Delete Current Conversation</span>
      </button>
    </div>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let conversation of conversations; let i = index"
        (click)="selectConversationByIndex(i)"
        disableRipple
        >{{ conversation?.title }}
      </mat-list-item>
    </mat-nav-list>
    <div class="modal-button">
      <div class="button-container">
        <button
          (click)="manageToken()"
          class="p-element p-ripple w p-button p-component"
        >
          <span class="p-button-label">Manage token</span>
        </button>
        <button
          (click)="contact()"
          class="p-element p-ripple w p-button p-component"
        >
          <span class="p-button-label">Contact Us</span>
        </button>
        <button
          (click)="logOut()"
          class="p-element p-ripple w p-button p-component"
        >
          <span class="p-button-label">Log out</span>
        </button>
      </div>

      <p-dialog
        header="Manage Token"
        [modal]="true"
        [(visible)]="settingsModalVisible"
        [style]="{ width: '25rem' }"
      >
        <span class="p-text-secondary block mb-5">Add an OpenAI token:</span>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="app_token" class="font-semibold w-6rem">Token</label>
          <input
            pInputText
            id="app_token"
            class="flex-auto"
            autocomplete="off"
            [(ngModel)]="token"
          />
        </div>
        <div class="flex justify-content-end gap-2">
          <p-button
            label="Cancel"
            severity="secondary"
            (onClick)="settingsModalVisible = false"
          />
          <p-button label="Save" (onClick)="saveToken($event)" />
          <p-button
            label="Clear"
            (onClick)="clearToken()"
            severity="secondary"
          ></p-button>
        </div>
      </p-dialog>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <as-split
      [direction]="'horizontal'"
      [gutterSize]="10"
      [unit]="'percent'"
      [style]="'padding: 10px 10px'"
    >
      <as-split-area [size]="50">
        <app-graph
          [item]="selectedConversation"
          [initialPath]="initialPath"
          (nodeSelect)="onNodeSelect($event)"
        ></app-graph>
      </as-split-area>
      <as-split-area [size]="50">
        <app-chat
          class="app-chat"
          [chatHistory]="chatHistory"
          [initialPath]="initialPath"
          [selectedConversation]="selectedConversation"
          (subQuerySelect)="onSubQuerySelect($event)"
          (messageAdded)="onMessageAdded($event)"
        ></app-chat>
      </as-split-area>
    </as-split>
  </mat-sidenav-content>
</mat-sidenav-container>
