<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <h3>Sage Page App</h3>
    <button mat-button (click)="addNewConversation()">
      Add New Conversation
    </button>
    <button mat-button (click)="deleteCurrentConversation()">
      Delete Current Conversation
    </button>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let conversation of conversations; let i = index"
        (click)="selectConversationByIndex(i)"
        disableRipple
        >{{ conversation?.title }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <as-split [direction]="'horizontal'" [gutterSize]="10" [unit]="'percent'" [style]="'padding: 10px 10px'">
      <as-split-area [size]="50">
        <app-graph
          [item]="selectedConversation"
          [initialPath]="initialPath"
          (nodeSelect)="onNodeSelect($event)"
        ></app-graph>
      </as-split-area>
      <as-split-area [size]="50">
        <app-chat
          class="app-chat"
          [chatHistory]="chatHistory"
          [initialPath]="initialPath"
          (subQuerySelect)="onSubQuerySelect($event)"
          (messageAdded)="onMessageAdded($event)"
        ></app-chat>
      </as-split-area>
    </as-split>
  </mat-sidenav-content>
</mat-sidenav-container>
