.example-container {
  height: 100vh; /* Full viewport height */
  display: flex;
}

mat-sidenav {
  min-width: 15%;
  width: 15%;
  overflow: auto;
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.as-split {
  height: 100%;
}

.app-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}
