<div class="chat-container">
  <div class="dropdown-container">
    <mat-form-field appearance="fill" class="dropdown">
      <mat-label>Select LLM Machine</mat-label>
      <mat-select [(value)]="selectedMachine">
        <mat-option *ngFor="let machine of machines" [value]="machine">
          {{ machine }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="chat-history">
    <div *ngFor="let item of chatHistory; let i = index">
      <markdown [data]="formatQueryResponse(item)"></markdown>
      <div *ngIf="item.queries && item.queries.length > 0">
        <p><strong>Sub-queries:</strong></p>
        <div *ngFor="let subQuery of item.queries; let j = index">
          <button mat-button (click)="onSubQueryClick(i, j)">
            {{ subQuery.title }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="input-container">
    <textarea
      matInput
      placeholder="Enter your query"
      [(ngModel)]="query"
    ></textarea>
    <button mat-raised-button color="primary" (click)="sendQuery()">
      Send
    </button>
  </div>
</div>
